<div>
  <section class="followings">
    <% if @user.following_users.any? %>
      <h3>Followings (<%= @user.following_users.count %>)</h3>
      <% @users.each do |user|%>
        <p><%= gravatar_for @user %></p>
        <p><%= @user.name %></p>
        <p><% if current_user != @user %>
          <div id="follow_form">
          <% if current_user.following?(@user) %>
            <%= render 'unfollow' %>
          <% else %>
            <%= render 'follow' %>
          <% end %> <!-- if current_user.follo...?(@user) -->
          </div>
        <% end %></p> <!-- if current_user != @user -->
      <% end %><!-- @users.each do -->
    <% end %> <!-- if @user.follo......any? -->
  </section>
</div>